body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

li {
    -webkit-column-break-inside: avoid;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

header img {
top: 0;
width: 100px; 
}

.pg-home ul {
	column-count: 4;
	max-width: 858px;
	margin: 0 auto;
	width: 100%;
	
}

.pg-home li, .pg-home img {
	width: 186px;
	cursor: pointer;
}

.pg-home h2 {
	font-family: "Helvetica-Neue", sans-serif;
	font-weight: 100;
	color:white;
	text-align: center;
	margin-bottom: 25px;
}

.pg-home h3 {
	font-family: "Helvetica-Neue", sans-serif;
	font-weight: 100;
	color:gray;
	text-align: center;
	margin-bottom: 25px;
} 

.pg-home img:hover {
	border: 5px;
	border-style: solid;
	color: white;
}

footer #botao:hover {
	border: 2px;
	border-style: solid;
	color: white;
}

footer #botao {
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	font-weight: 100;
    color:gray;
    text-transform: uppercase;
    background-color: black;
    width: 230px;
    height: 40px;
	border: 1px;
	border-style: solid;
	border-color: gray;
	margin-top: 25px;
	margin-left: 42vw;
    cursor: pointer;
}